main {
    padding: 2rem 0;
  }
  
  main h1 {
    color: #666666;
    font-size: 1.5em;
    padding-bottom: 1.5rem;
  }
  
  @media (min-width: 900px) {
    .container {
      height: 100vh;
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "hd ma"
        "fo fo";
    }
  
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }
  
    section {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
  
    section .card {
      flex-grow: 1;
      max-height: 60rem;
    }
  
    section .card h2 {
      display: inline;
    }
  
    section .card p {
      max-width: 50rem;
      margin-top: 20px;
      font-size: 1.1em;
    }
  }
  
  @media (min-width: 1100px) {
    section {
      gap: 5rem;
    }
  
    section .card p {
      font-size: 1.4em;
    }
  }