* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

:root {
  --main-color: #02b3e4;
}

body {
  padding: 0 2rem;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "ma"
    "fo";
}

header {
  grid-area: hd;
}

main {
  grid-area: ma;
}

footer {
  grid-area: fo;
}

.logo {
  padding: 1.5rem;
  font-size: 5em;
  font-weight: normal;
}

#menu-toggle{
  display: none;
}

#menu-toggle:checked + .menu-btn + .menu {
  display: block;
}

nav .menu1 {
  position: absolute;
  top: 4rem;
  right: 3rem;
  font-size: 1.6rem;
  cursor: pointer;
}

nav .menu1:hover {
  color: var(--main-color);
}

nav .menu {
  width: 100%;
  padding: 15px;
  display: none;
}


nav .main1:hover + ul {
  display: block;
}

@media (min-width: 768px) {
  nav .toggle-menu {
      display: none;
  }

  nav .menu {
    display: block;
  }
}


nav ul li {
  padding-bottom: 1.2rem;
}

nav ul li a {
  color: var(--main-color);
  font-size: 1.2em;
}

nav .social-icons {
  display: flex;
  gap: 1.2rem;
}
nav .social-icons a {
  font-size: 1.5rem;
}

nav .button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

nav .follow {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

nav .subs {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  padding: 10px 15px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

main {
  padding: 2rem 0;
}

main h1 {
  color: #666666;
  font-size: 1.5em;
  padding-bottom: 1.5rem;
}




@media (min-width: 900px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "hd ma"
      "fo fo";
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  section .card {
    flex-grow: 1;
    max-height: 60rem;
  }

  section .card h2 {
    display: inline;
  }

  section .card p {
    max-width: 50rem;
    margin-top: 20px;
    font-size: 1.1em;
  }
}

@media (min-width: 1100px) {
  section {
    gap: 5rem;
  }

  section .card p {
    font-size: 1.4em;
  }
}
